.candidate
{
  margin: 60px;
  color: grey;
}

.candidate-btn
{
  margin: 20px;
  padding: 10px;
  width:30%;
  border: none;
  background-color: lightgrey;

}
.candidate-b
{
  margin: 60px;
  color: black;
}

.question
{
  margin-left: 20%;
}
.video
{
  height: 300px;
  width:300px;
  background-size: cover ;
}

input
{
  width:150px;
}
.btn{
  margin-left: 60px;
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 10px;
}

.header
{
  background-color: grey;
  height: 60px;
  width: 100%;
}
.title
{
  color:white;
  margin-left:40%;
  margin-top: 60px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
}

.close
{
  margin-left: 5%;
  color:white;
  font-size:20px;
  border: none;
  background-color: grey;
}